.orange {
  background-color: orange;
  color: white;
}
.blue {
  background-color: blue;
  color: white;
}
.yellow {
  background-color: yellow;
}
.bold {
  font-weight: bold;
}
.green {
  background-color: green;
  color: white;
}
